# 사용자 설문 데이터 - 성별 및 연령대 별 더미 데이터 생성

In [1]:
import numpy as np
import pandas as pd
import random
import re

# 경고 메시지를 무시
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
# 모듈화한 list 혹은 dict 불러오기
from com_code import survey_function_com_codes, survey_disease_com_codes, survey_allergy_com_codes
from dummy_survey_variable import sex_age_group_ratings, adult_function_weight, pregnancy_ratings, function_rankings

print(survey_function_com_codes)
print(survey_disease_com_codes)
print(survey_allergy_com_codes)

print(sex_age_group_ratings)
print(adult_function_weight)
print(pregnancy_ratings)
print(function_rankings)

['HF00', 'HF01', 'HF02', 'HF03', 'HF04', 'HF05', 'HF06', 'HF07', 'HF08', 'HF09', 'HF10', 'HF11', 'HF12', 'HF13', 'HF14', 'HF15', 'HF16', 'HF17', 'HF18', 'HF19', 'HF20', 'HF21', 'HF22', 'HF23', 'HF24', 'HF25']
['DI00', 'DI01', 'DI02', 'DI03', 'DI04', 'DI05', 'DI06', 'DI07', 'DI08', 'DI09', 'DI10', 'DI11', 'DI12', 'DI13', 'DI14', 'DI15', 'DI16', 'DI17']
['AL00', 'AL01', 'AL02', 'AL03', 'AL04', 'AL05', 'AL06', 'AL07', 'AL08', 'AL09', 'AL10', 'AL11', 'AL12', 'AL13', 'AL14', 'AL15', 'AL16', 'AL17', 'AL18', 'AL19', 'AL20']
[{'survey_sex': 0, 'survey_age_group': 0, 'survey_pregnancy_code': 0.0, 'survey_operation_code': 0.01, 'survey_alcohol_code': 0.0, 'survey_smoking_code': 0.0, 'HF01': 0.0, 'HF02': 0.0, 'HF03': 0.0, 'HF04': 0.1, 'HF05': 0.0, 'HF06': 0.0, 'HF07': 0.2, 'HF08': 0.0, 'HF09': 0.0, 'HF10': 0.5, 'HF11': 0.0, 'HF12': 0.0, 'HF13': 0.0, 'HF14': 0.0, 'HF15': 0.0, 'HF16': 0.0, 'HF17': 0.0, 'HF18': 0.0, 'HF19': 0.0, 'HF20': 0.5, 'HF21': 0.8, 'HF22': 0.0, 'HF23': 0.0, 'HF24': 0.0, 'AL01': 0.002, 'AL02': 0.001, 'AL03': 0.005, 'AL04': 0.001, 'AL05': 0.001, 'AL06': 0.001, 'AL07': 0.013, 'AL08': 0.001, 'AL09': 0.001, 'AL10': 0.001, 'AL11': 0.001, 'AL12': 0.001, 'AL13': 0.001, 'AL14': 0.001, 'AL15': 0.001, 'AL16': 0.001, 'AL17': 0.001, 'AL18': 0.001, 'AL19': 0.001, 'AL20': 0.001, 'DI01': 0.01, 'DI02': 0.01, 'DI03': 0.01, 'DI04': 0.01, 'DI05': 0.005, 'DI06': 0.01, 'DI07': 0.01, 'DI08': 0.0, 'DI09': 0.01, 'DI10': 0.01, 'DI11': 0.005, 'DI12': 0.01, 'DI13': 0.01, 'DI14': 0.001, 'DI15': 0.001, 'DI16': 0.001, 'DI17': 0.0}, {'survey_sex': 0, 'survey_age_group': 10, 'survey_pregnancy_code': 0.0, 'survey_operation_code': 0.01, 'survey_alcohol_code': 0.0, 'survey_smoking_code': 0.0, 'HF01': 0.0, 'HF02': 0.0, 'HF03': 0.0, 'HF04': 0.05, 'HF05': 0.0, 'HF06': 0.0, 'HF07': 0.2, 'HF08': 0.0, 'HF09': 0.0, 'HF10': 0.5, 'HF11': 0.0, 'HF12': 0.0, 'HF13': 0.0, 'HF14': 0.0, 'HF15': 0.0, 'HF16': 0.0, 'HF17': 0.1, 'HF18': 0.1, 'HF19': 0.1, 'HF20': 0.7, 'HF21': 0.1, 'HF22': 0.0, 'HF23': 0.0, 'HF24': 0.0, 'AL01': 0.002, 'AL02': 0.001, 'AL03': 0.005, 'AL04': 0.001, 'AL05': 0.001, 'AL06': 0.001, 'AL07': 0.013, 'AL08': 0.001, 'AL09': 0.001, 'AL10': 0.001, 'AL11': 0.001, 'AL12': 0.001, 'AL13': 0.001, 'AL14': 0.001, 'AL15': 0.001, 'AL16': 0.001, 'AL17': 0.001, 'AL18': 0.001, 'AL19': 0.001, 'AL20': 0.001, 'DI01': 0.01, 'DI02': 0.01, 'DI03': 0.01, 'DI04': 0.01, 'DI05': 0.005, 'DI06': 0.01, 'DI07': 0.01, 'DI08': 0.0, 'DI09': 0.01, 'DI10': 0.01, 'DI11': 0.005, 'DI12': 0.01, 'DI13': 0.01, 'DI14': 0.001, 'DI15': 0.001, 'DI16': 0.001, 'DI17': 0.0}, {'survey_sex': 0, 'survey_age_group': 20, 'survey_pregnancy_code': 0.0, 'survey_operation_code': 0.009, 'survey_alcohol_code': 0.631, 'survey_smoking_code': 0.376, 'HF01': 0.198, 'HF02': 0.42, 'HF03': 0.0, 'HF04': 0.098, 'HF05': 0.132, 'HF06': 0.082, 'HF07': 0.36, 'HF08': 0.0, 'HF09': 0.084, 'HF10': 0.265, 'HF11': 0.074, 'HF12': 0.016, 'HF13': 0.0, 'HF14': 0.0, 'HF15': 0.0, 'HF16': 0.0, 'HF17': 0.406, 'HF18': 0.4, 'HF19': 0.341, 'HF20': 0.006, 'HF21': 0.0, 'HF22': 0.004, 'HF23': 0.039, 'HF24': 0.034, 'AL01': 0.002, 'AL02': 0.001, 'AL03': 0.001, 'AL04': 0.001, 'AL05': 0.001, 'AL06': 0.001, 'AL07': 0.001, 'AL08': 0.001, 'AL09': 0.001, 'AL10': 0.001, 'AL11': 0.001, 'AL12': 0.001, 'AL13': 0.001, 'AL14': 0.001, 'AL15': 0.001, 'AL16': 0.001, 'AL17': 0.001, 'AL18': 0.001, 'AL19': 0.001, 'AL20': 0.001, 'DI01': 0.265, 'DI02': 0.198, 'DI03': 0.039, 'DI04': 0.01, 'DI05': 0.004, 'DI06': 0.039, 'DI07': 0.034, 'DI08': 0.0, 'DI09': 0.022, 'DI10': 0.023, 'DI11': 0.004, 'DI12': 0.009, 'DI13': 0.109, 'DI14': 0.001, 'DI15': 0.001, 'DI16': 0.001, 'DI17': 0.0}, {'survey_sex': 0, 'survey_age_group': 30, 'survey_pregnancy_code': 0.0, 'survey_operation_code': 0.016, 'survey_alcohol_code': 0.748, 'survey_smoking_code': 0.427, 'HF01': 0.251, 'HF02': 0.463, 'HF03': 0.045, 'HF04': 0.071, 'HF05': 0.238, 'HF06': 0.097, 'HF07': 0.187, 'HF08': 0.155, 'HF09': 0.182, 'HF10': 0.227, 'HF11': 0.104, 'HF12': 0.026, 'HF13': 0.212, 'HF14': 0.024, 'HF15': 0.0, 'HF16': 0.0, 'HF17': 0.284, 'HF18': 0.445, 'HF19': 0.382, 'HF20': 0.16, 'HF21': 0.0, 'HF22': 0.143, 'HF23': 0.257, 'HF24': 0.269, 'AL01': 0.002, 'AL02': 0.001, 'AL03': 0.001, 'AL04': 0.001, 'AL05': 0.001, 'AL06': 0.001, 'AL07': 0.001, 'AL08': 0.001, 'AL09': 0.001, 'AL10': 0.001, 'AL11': 0.001, 'AL12': 0.001, 'AL13': 0.001, 'AL14': 0.001, 'AL15': 0.001, 'AL16': 0.001, 'AL17': 0.001, 'AL18': 0.001, 'AL19': 0.001, 'AL20': 0.001, 'DI01': 0.26, 'DI02': 0.238, 'DI03': 0.173, 'DI04': 0.044, 'DI05': 0.05, 'DI06': 0.173, 'DI07': 0.186, 'DI08': 0.003, 'DI09': 0.017, 'DI10': 0.05, 'DI11': 0.01, 'DI12': 0.009, 'DI13': 0.097, 'DI14': 0.001, 'DI15': 0.001, 'DI16': 0.001, 'DI17': 0.0}, {'survey_sex': 0, 'survey_age_group': 40, 'survey_pregnancy_code': 0.0, 'survey_operation_code': 0.016, 'survey_alcohol_code': 0.748, 'survey_smoking_code': 0.427, 'HF01': 0.251, 'HF02': 0.463, 'HF03': 0.045, 'HF04': 0.071, 'HF05': 0.238, 'HF06': 0.097, 'HF07': 0.187, 'HF08': 0.155, 'HF09': 0.182, 'HF10': 0.227, 'HF11': 0.104, 'HF12': 0.026, 'HF13': 0.212, 'HF14': 0.024, 'HF15': 0.0, 'HF16': 0.0, 'HF17': 0.284, 'HF18': 0.445, 'HF19': 0.382, 'HF20': 0.16, 'HF21': 0.0, 'HF22': 0.143, 'HF23': 0.257, 'HF24': 0.269, 'AL01': 0.002, 'AL02': 0.001, 'AL03': 0.001, 'AL04': 0.001, 'AL05': 0.001, 'AL06': 0.001, 'AL07': 0.001, 'AL08': 0.001, 'AL09': 0.001, 'AL10': 0.001, 'AL11': 0.001, 'AL12': 0.001, 'AL13': 0.001, 'AL14': 0.001, 'AL15': 0.001, 'AL16': 0.001, 'AL17': 0.001, 'AL18': 0.001, 'AL19': 0.001, 'AL20': 0.001, 'DI01': 0.26, 'DI02': 0.238, 'DI03': 0.173, 'DI04': 0.044, 'DI05': 0.05, 'DI06': 0.173, 'DI07': 0.186, 'DI08': 0.011, 'DI09': 0.021, 'DI10': 0.023, 'DI11': 0.014, 'DI12': 0.009, 'DI13': 0.104, 'DI14': 0.005, 'DI15': 0.001, 'DI16': 0.001, 'DI17': 0.0}, {'survey_sex': 0, 'survey_age_group': 50, 'survey_pregnancy_code': 0.0, 'survey_operation_code': 0.028, 'survey_alcohol_code': 0.713, 'survey_smoking_code': 0.369, 'HF01': 0.245, 'HF02': 0.362, 'HF03': 0.055, 'HF04': 0.063, 'HF05': 0.3, 'HF06': 0.136, 'HF07': 0.204, 'HF08': 0.19, 'HF09': 0.203, 'HF10': 0.304, 'HF11': 0.135, 'HF12': 0.031, 'HF13': 0.375, 'HF14': 0.044, 'HF15': 0.0, 'HF16': 0.0, 'HF17': 0.313, 'HF18': 0.372, 'HF19': 0.35, 'HF20': 0.406, 'HF21': 0.0, 'HF22': 0.217, 'HF23': 0.358, 'HF24': 0.342, 'AL01': 0.002, 'AL02': 0.001, 'AL03': 0.001, 'AL04': 0.001, 'AL05': 0.001, 'AL06': 0.001, 'AL07': 0.001, 'AL08': 0.001, 'AL09': 0.001, 'AL10': 0.001, 'AL11': 0.001, 'AL12': 0.001, 'AL13': 0.001, 'AL14': 0.001, 'AL15': 0.001, 'AL16': 0.001, 'AL17': 0.001, 'AL18': 0.001, 'AL19': 0.001, 'AL20': 0.001, 'DI01': 0.304, 'DI02': 0.245, 'DI03': 0.358, 'DI04': 0.097, 'DI05': 0.217, 'DI06': 0.358, 'DI07': 0.342, 'DI08': 0.026, 'DI09': 0.03, 'DI10': 0.017, 'DI11': 0.025, 'DI12': 0.016, 'DI13': 0.099, 'DI14': 0.005, 'DI15': 0.001, 'DI16': 0.001, 'DI17': 0.0}, {'survey_sex': 0, 'survey_age_group': 60, 'survey_pregnancy_code': 0.0, 'survey_operation_code': 0.075, 'survey_alcohol_code': 0.667, 'survey_smoking_code': 0.286, 'HF01': 0.237, 'HF02': 0.223, 'HF03': 0.2, 'HF04': 0.053, 'HF05': 0.348, 'HF06': 0.117, 'HF07': 0.099, 'HF08': 0.27, 'HF09': 0.211, 'HF10': 0.279, 'HF11': 0.217, 'HF12': 0.052, 'HF13': 0.538, 'HF14': 0.213, 'HF15': 0.0, 'HF16': 0.0, 'HF17': 0.303, 'HF18': 0.364, 'HF19': 0.339, 'HF20': 0.636, 'HF21': 0.0, 'HF22': 0.288, 'HF23': 0.506, 'HF24': 0.332, 'AL01': 0.002, 'AL02': 0.001, 'AL03': 0.001, 'AL04': 0.001, 'AL05': 0.001, 'AL06': 0.001, 'AL07': 0.001, 'AL08': 0.001, 'AL09': 0.001, 'AL10': 0.001, 'AL11': 0.001, 'AL12': 0.001, 'AL13': 0.001, 'AL14': 0.001, 'AL15': 0.001, 'AL16': 0.001, 'AL17': 0.001, 'AL18': 0.001, 'AL19': 0.001, 'AL20': 0.001, 'DI01': 0.279, 'DI02': 0.237, 'DI03': 0.506, 'DI04': 0.255, 'DI05': 0.288, 'DI06': 0.506, 'DI07': 0.332, 'DI08': 0.109, 'DI09': 0.022, 'DI10': 0.029, 'DI11': 0.037, 'DI12': 0.016, 'DI13': 0.074, 'DI14': 0.022, 'DI15': 0.001, 'DI16': 0.001, 'DI17': 0.0}, {'survey_sex': 1, 'survey_age_group': 0, 'survey_pregnancy_code': 0.0, 'survey_operation_code': 0.01, 'survey_alcohol_code': 0.0, 'survey_smoking_code': 0.0, 'HF01': 0.0, 'HF02': 0.0, 'HF03': 0.0, 'HF04': 0.1, 'HF05': 0.0, 'HF06': 0.0, 'HF07': 0.2, 'HF08': 0.0, 'HF09': 0.0, 'HF10': 0.5, 'HF11': 0.0, 'HF12': 0.0, 'HF13': 0.0, 'HF14': 0.0, 'HF15': 0.0, 'HF16': 0.0, 'HF17': 0.0, 'HF18': 0.0, 'HF19': 0.0, 'HF20': 0.5, 'HF21': 0.8, 'HF22': 0.0, 'HF23': 0.0, 'HF24': 0.0, 'AL01': 0.002, 'AL02': 0.001, 'AL03': 0.005, 'AL04': 0.001, 'AL05': 0.001, 'AL06': 0.001, 'AL07': 0.013, 'AL08': 0.001, 'AL09': 0.001, 'AL10': 0.001, 'AL11': 0.001, 'AL12': 0.001, 'AL13': 0.001, 'AL14': 0.001, 'AL15': 0.001, 'AL16': 0.001, 'AL17': 0.001, 'AL18': 0.001, 'AL19': 0.001, 'AL20': 0.001, 'DI01': 0.01, 'DI02': 0.01, 'DI03': 0.01, 'DI04': 0.01, 'DI05': 0.005, 'DI06': 0.01, 'DI07': 0.01, 'DI08': 0.0, 'DI09': 0.01, 'DI10': 0.01, 'DI11': 0.005, 'DI12': 0.01, 'DI13': 0.01, 'DI14': 0.001, 'DI15': 0.001, 'DI16': 0.001, 'DI17': 0.0}, {'survey_sex': 1, 'survey_age_group': 10, 'survey_pregnancy_code': 0.0, 'survey_operation_code': 0.01, 'survey_alcohol_code': 0.0, 'survey_smoking_code': 0.0, 'HF01': 0.0, 'HF02': 0.0, 'HF03': 0.0, 'HF04': 0.05, 'HF05': 0.0, 'HF06': 0.0, 'HF07': 0.4, 'HF08': 0.0, 'HF09': 0.0, 'HF10': 0.5, 'HF11': 0.0, 'HF12': 0.0, 'HF13': 0.0, 'HF14': 0.0, 'HF15': 0.0, 'HF16': 0.0, 'HF17': 0.3, 'HF18': 0.3, 'HF19': 0.1, 'HF20': 0.7, 'HF21': 0.3, 'HF22': 0.0, 'HF23': 0.0, 'HF24': 0.0, 'AL01': 0.002, 'AL02': 0.001, 'AL03': 0.005, 'AL04': 0.001, 'AL05': 0.001, 'AL06': 0.001, 'AL07': 0.013, 'AL08': 0.001, 'AL09': 0.001, 'AL10': 0.001, 'AL11': 0.001, 'AL12': 0.001, 'AL13': 0.001, 'AL14': 0.001, 'AL15': 0.001, 'AL16': 0.001, 'AL17': 0.001, 'AL18': 0.001, 'AL19': 0.001, 'AL20': 0.001, 'DI01': 0.01, 'DI02': 0.01, 'DI03': 0.01, 'DI04': 0.01, 'DI05': 0.005, 'DI06': 0.01, 'DI07': 0.01, 'DI08': 0.0, 'DI09': 0.01, 'DI10': 0.01, 'DI11': 0.005, 'DI12': 0.01, 'DI13': 0.01, 'DI14': 0.001, 'DI15': 0.001, 'DI16': 0.001, 'DI17': 0.0}, {'survey_sex': 1, 'survey_age_group': 20, 'survey_pregnancy_code': 0.014, 'survey_operation_code': 0.015, 'survey_alcohol_code': 0.612, 'survey_smoking_code': 0.094, 'HF01': 0.162, 'HF02': 0.434, 'HF03': 0.0, 'HF04': 0.054, 'HF05': 0.188, 'HF06': 0.115, 'HF07': 0.608, 'HF08': 0.0, 'HF09': 0.098, 'HF10': 0.341, 'HF11': 0.074, 'HF12': 0.086, 'HF13': 0.0, 'HF14': 0.0, 'HF15': 0.0, 'HF16': 0.516, 'HF17': 0.318, 'HF18': 0.381, 'HF19': 0.376, 'HF20': 0.006, 'HF21': 0.0, 'HF22': 0.006, 'HF23': 0.016, 'HF24': 0.048, 'AL01': 0.002, 'AL02': 0.001, 'AL03': 0.001, 'AL04': 0.001, 'AL05': 0.001, 'AL06': 0.001, 'AL07': 0.001, 'AL08': 0.001, 'AL09': 0.001, 'AL10': 0.001, 'AL11': 0.001, 'AL12': 0.001, 'AL13': 0.001, 'AL14': 0.001, 'AL15': 0.001, 'AL16': 0.001, 'AL17': 0.001, 'AL18': 0.001, 'AL19': 0.001, 'AL20': 0.001, 'DI01': 0.341, 'DI02': 0.162, 'DI03': 0.016, 'DI04': 0.017, 'DI05': 0.006, 'DI06': 0.016, 'DI07': 0.048, 'DI08': 0.0, 'DI09': 0.025, 'DI10': 0.03, 'DI11': 0.004, 'DI12': 0.012, 'DI13': 0.111, 'DI14': 0.001, 'DI15': 0.001, 'DI16': 0.001, 'DI17': 0.05}, {'survey_sex': 1, 'survey_age_group': 30, 'survey_pregnancy_code': 0.059, 'survey_operation_code': 0.048, 'survey_alcohol_code': 0.532, 'survey_smoking_code': 0.097, 'HF01': 0.194, 'HF02': 0.507, 'HF03': 0.0, 'HF04': 0.06, 'HF05': 0.345, 'HF06': 0.208, 'HF07': 0.567, 'HF08': 0.031, 'HF09': 0.11, 'HF10': 0.334, 'HF11': 0.048, 'HF12': 0.086, 'HF13': 0.0, 'HF14': 0.0, 'HF15': 0.0, 'HF16': 0.522, 'HF17': 0.276, 'HF18': 0.393, 'HF19': 0.382, 'HF20': 0.029, 'HF21': 0.0, 'HF22': 0.02, 'HF23': 0.02, 'HF24': 0.095, 'AL01': 0.002, 'AL02': 0.001, 'AL03': 0.001, 'AL04': 0.001, 'AL05': 0.001, 'AL06': 0.001, 'AL07': 0.001, 'AL08': 0.001, 'AL09': 0.001, 'AL10': 0.001, 'AL11': 0.001, 'AL12': 0.001, 'AL13': 0.001, 'AL14': 0.001, 'AL15': 0.001, 'AL16': 0.001, 'AL17': 0.001, 'AL18': 0.001, 'AL19': 0.001, 'AL20': 0.001, 'DI01': 0.334, 'DI02': 0.194, 'DI03': 0.02, 'DI04': 0.036, 'DI05': 0.02, 'DI06': 0.02, 'DI07': 0.095, 'DI08': 0.005, 'DI09': 0.027, 'DI10': 0.033, 'DI11': 0.01, 'DI12': 0.012, 'DI13': 0.095, 'DI14': 0.001, 'DI15': 0.001, 'DI16': 0.001, 'DI17': 0.05}, {'survey_sex': 1, 'survey_age_group': 40, 'survey_pregnancy_code': 0.004, 'survey_operation_code': 0.026, 'survey_alcohol_code': 0.521, 'survey_smoking_code': 0.067, 'HF01': 0.205, 'HF02': 0.477, 'HF03': 0.154, 'HF04': 0.049, 'HF05': 0.338, 'HF06': 0.137, 'HF07': 0.316, 'HF08': 0.13, 'HF09': 0.161, 'HF10': 0.291, 'HF11': 0.093, 'HF12': 0.086, 'HF13': 0.0, 'HF14': 0.0, 'HF15': 0.08, 'HF16': 0.384, 'HF17': 0.222, 'HF18': 0.424, 'HF19': 0.423, 'HF20': 0.16, 'HF21': 0.0, 'HF22': 0.068, 'HF23': 0.134, 'HF24': 0.15, 'AL01': 0.002, 'AL02': 0.001, 'AL03': 0.001, 'AL04': 0.001, 'AL05': 0.001, 'AL06': 0.001, 'AL07': 0.001, 'AL08': 0.001, 'AL09': 0.001, 'AL10': 0.001, 'AL11': 0.001, 'AL12': 0.001, 'AL13': 0.001, 'AL14': 0.001, 'AL15': 0.001, 'AL16': 0.001, 'AL17': 0.001, 'AL18': 0.001, 'AL19': 0.001, 'AL20': 0.001, 'DI01': 0.291, 'DI02': 0.205, 'DI03': 0.134, 'DI04': 0.065, 'DI05': 0.068, 'DI06': 0.134, 'DI07': 0.15, 'DI08': 0.011, 'DI09': 0.038, 'DI10': 0.016, 'DI11': 0.014, 'DI12': 0.044, 'DI13': 0.067, 'DI14': 0.006, 'DI15': 0.001, 'DI16': 0.001, 'DI17': 0.05}, {'survey_sex': 1, 'survey_age_group': 50, 'survey_pregnancy_code': 0.0, 'survey_operation_code': 0.031, 'survey_alcohol_code': 0.407, 'survey_smoking_code': 0.063, 'HF01': 0.199, 'HF02': 0.374, 'HF03': 0.328, 'HF04': 0.055, 'HF05': 0.424, 'HF06': 0.192, 'HF07': 0.344, 'HF08': 0.16, 'HF09': 0.21, 'HF10': 0.39, 'HF11': 0.158, 'HF12': 0.087, 'HF13': 0.0, 'HF14': 0.0, 'HF15': 0.58, 'HF16': 0.229, 'HF17': 0.245, 'HF18': 0.355, 'HF19': 0.387, 'HF20': 0.406, 'HF21': 0.0, 'HF22': 0.101, 'HF23': 0.265, 'HF24': 0.383, 'AL01': 0.002, 'AL02': 0.001, 'AL03': 0.001, 'AL04': 0.001, 'AL05': 0.001, 'AL06': 0.001, 'AL07': 0.001, 'AL08': 0.001, 'AL09': 0.001, 'AL10': 0.001, 'AL11': 0.001, 'AL12': 0.001, 'AL13': 0.001, 'AL14': 0.001, 'AL15': 0.001, 'AL16': 0.001, 'AL17': 0.001, 'AL18': 0.001, 'AL19': 0.001, 'AL20': 0.001, 'DI01': 0.21, 'DI02': 0.199, 'DI03': 0.265, 'DI04': 0.097, 'DI05': 0.101, 'DI06': 0.265, 'DI07': 0.383, 'DI08': 0.031, 'DI09': 0.073, 'DI10': 0.027, 'DI11': 0.025, 'DI12': 0.044, 'DI13': 0.083, 'DI14': 0.006, 'DI15': 0.001, 'DI16': 0.001, 'DI17': 0.05}, {'survey_sex': 1, 'survey_age_group': 60, 'survey_pregnancy_code': 0.0, 'survey_operation_code': 0.073, 'survey_alcohol_code': 0.283, 'survey_smoking_code': 0.036, 'HF01': 0.193, 'HF02': 0.229, 'HF03': 0.652, 'HF04': 0.046, 'HF05': 0.492, 'HF06': 0.165, 'HF07': 0.167, 'HF08': 0.228, 'HF09': 0.213, 'HF10': 0.359, 'HF11': 0.232, 'HF12': 0.132, 'HF13': 0.0, 'HF14': 0.0, 'HF15': 0.335, 'HF16': 0.0, 'HF17': 0.237, 'HF18': 0.347, 'HF19': 0.374, 'HF20': 0.636, 'HF21': 0.0, 'HF22': 0.209, 'HF23': 0.455, 'HF24': 0.502, 'AL01': 0.002, 'AL02': 0.001, 'AL03': 0.001, 'AL04': 0.001, 'AL05': 0.001, 'AL06': 0.001, 'AL07': 0.001, 'AL08': 0.001, 'AL09': 0.001, 'AL10': 0.001, 'AL11': 0.001, 'AL12': 0.001, 'AL13': 0.001, 'AL14': 0.001, 'AL15': 0.001, 'AL16': 0.001, 'AL17': 0.001, 'AL18': 0.001, 'AL19': 0.001, 'AL20': 0.001, 'DI01': 0.359, 'DI02': 0.193, 'DI03': 0.455, 'DI04': 0.189, 'DI05': 0.209, 'DI06': 0.455, 'DI07': 0.502, 'DI08': 0.05, 'DI09': 0.029, 'DI10': 0.037, 'DI11': 0.037, 'DI12': 0.076, 'DI13': 0.078, 'DI14': 0.011, 'DI15': 0.001, 'DI16': 0.001, 'DI17': 0.05}]
{'HF01': 0.15, 'HF02': 0.698, 'HF03': 0.501, 'HF04': 0.023, 'HF05': 1.0, 'HF06': 0.881, 'HF07': 0.268, 'HF08': 0.265, 'HF09': 0.008, 'HF10': 0.322, 'HF11': 0.005, 'HF12': 0.005, 'HF13': 0.031, 'HF14': 0.005, 'HF15': 0.049, 'HF16': 0.407, 'HF17': 0.465, 'HF18': 0.188, 'HF19': 0.046, 'HF20': 0.294, 'HF21': 0.0, 'HF22': 0.058, 'HF23': 0.037, 'HF24': 0.77}
{'HF25': 0.9, 'survey_alcohol_code': 0.014, 'survey_smoking_code': 0.011}
['1st', '2nd', '3rd', '4th', '5th']

## 1. 성별 및 연령대 별 더미 데이터 생성 비율 값을 가진 데이터프레임 생성

In [3]:
def create_dummy_rating_df(sex_age_group_ratings, adult_function_weight):
    # 더미 데이터 생성 비율 데이터프레임 생성
    dummy_rating_df = pd.DataFrame(sex_age_group_ratings)

    # 성인일 경우 건강기능 비율에 가중치 적용
    for idx, row in dummy_rating_df.iterrows():
        if row['survey_age_group'] > 10:
            for col, weight in adult_function_weight.items():
                dummy_rating_df.loc[idx, col] = row[col] * weight
                
    return dummy_rating_df

In [4]:
# 함수 적용 및 확인
dummy_rating_df = create_dummy_rating_df(sex_age_group_ratings, adult_function_weight)
dummy_rating_df

,survey_sex,survey_age_group,survey_pregnancy_code,survey_operation_code,survey_alcohol_code,survey_smoking_code,HF01,HF02,HF03,HF04,...,DI08,DI09,DI10,DI11,DI12,DI13,DI14,DI15,DI16,DI17
0,0,0,0.000,0.010,0.000,0.000,0.00000,0.000000,0.000000,0.100000,...,0.000,0.010,0.010,0.005,0.010,0.010,0.001,0.001,0.001,0.00
1,0,10,0.000,0.010,0.000,0.000,0.00000,0.000000,0.000000,0.050000,...,0.000,0.010,0.010,0.005,0.010,0.010,0.001,0.001,0.001,0.00
2,0,20,0.000,0.009,0.631,0.376,0.02970,0.293160,0.000000,0.002254,...,0.000,0.022,0.023,0.004,0.009,0.109,0.001,0.001,0.001,0.00
3,0,30,0.000,0.016,0.748,0.427,0.03765,0.323174,0.022545,0.001633,...,0.003,0.017,0.050,0.010,0.009,0.097,0.001,0.001,0.001,0.00
4,0,40,0.000,0.016,0.748,0.427,0.03765,0.323174,0.022545,0.001633,...,0.011,0.021,0.023,0.014,0.009,0.104,0.005,0.001,0.001,0.00
5,0,50,0.000,0.028,0.713,0.369,0.03675,0.252676,0.027555,0.001449,...,0.026,0.030,0.017,0.025,0.016,0.099,0.005,0.001,0.001,0.00
6,0,60,0.000,0.075,0.667,0.286,0.03555,0.155654,0.100200,0.001219,...,0.109,0.022,0.029,0.037,0.016,0.074,0.022,0.001,0.001,0.00
7,1,0,0.000,0.010,0.000,0.000,0.00000,0.000000,0.000000,0.100000,...,0.000,0.010,0.010,0.005,0.010,0.010,0.001,0.001,0.001,0.00
8,1,10,0.000,0.010,0.000,0.000,0.00000,0.000000,0.000000,0.050000,...,0.000,0.010,0.010,0.005,0.010,0.010,0.001,0.001,0.001,0.00
9,1,20,0.014,0.015,0.612,0.094,0.02430,0.302932,0.000000,0.001242,...,0.000,0.025,0.030,0.004,0.012,0.111,0.001,0.001,0.001,0.05
10,1,30,0.059,0.048,0.532,0.097,0.02910,0.353886,0.000000,0.001380,...,0.005,0.027,0.033,0.010,0.012,0.095,0.001,0.001,0.001,0.05
11,1,40,0.004,0.026,0.521,0.067,0.03075,0.332946,0.077154,0.001127,...,0.011,0.038,0.016,0.014,0.044,0.067,0.006,0.001,0.001,0.05
12,1,50,0.000,0.031,0.407,0.063,0.02985,0.261052,0.164328,0.001265,...,0.031,0.073,0.027,0.025,0.044,0.083,0.006,0.001,0.001,0.05
13,1,60,0.000,0.073,0.283,0.036,0.02895,0.159842,0.326652,0.001058,...,0.050,0.029,0.037,0.037,0.076,0.078,0.011,0.001,0.001,0.05

In [5]:
dummy_rating_df = pd.DataFrame(sex_age_group_ratings)

# 성인일 경우 건강기능 비율에 가중치 적용
for idx, row in dummy_rating_df.iterrows():
    if row['survey_age_group'] > 10:
        for col, weight in adult_function_weight.items():
            dummy_rating_df.loc[idx, col] = row[col] * weight
            
dummy_rating_df

,survey_sex,survey_age_group,survey_pregnancy_code,survey_operation_code,survey_alcohol_code,survey_smoking_code,HF01,HF02,HF03,HF04,...,DI08,DI09,DI10,DI11,DI12,DI13,DI14,DI15,DI16,DI17
0,0,0,0.000,0.010,0.000,0.000,0.00000,0.000000,0.000000,0.100000,...,0.000,0.010,0.010,0.005,0.010,0.010,0.001,0.001,0.001,0.00
1,0,10,0.000,0.010,0.000,0.000,0.00000,0.000000,0.000000,0.050000,...,0.000,0.010,0.010,0.005,0.010,0.010,0.001,0.001,0.001,0.00
2,0,20,0.000,0.009,0.631,0.376,0.02970,0.293160,0.000000,0.002254,...,0.000,0.022,0.023,0.004,0.009,0.109,0.001,0.001,0.001,0.00
3,0,30,0.000,0.016,0.748,0.427,0.03765,0.323174,0.022545,0.001633,...,0.003,0.017,0.050,0.010,0.009,0.097,0.001,0.001,0.001,0.00
4,0,40,0.000,0.016,0.748,0.427,0.03765,0.323174,0.022545,0.001633,...,0.011,0.021,0.023,0.014,0.009,0.104,0.005,0.001,0.001,0.00
5,0,50,0.000,0.028,0.713,0.369,0.03675,0.252676,0.027555,0.001449,...,0.026,0.030,0.017,0.025,0.016,0.099,0.005,0.001,0.001,0.00
6,0,60,0.000,0.075,0.667,0.286,0.03555,0.155654,0.100200,0.001219,...,0.109,0.022,0.029,0.037,0.016,0.074,0.022,0.001,0.001,0.00
7,1,0,0.000,0.010,0.000,0.000,0.00000,0.000000,0.000000,0.100000,...,0.000,0.010,0.010,0.005,0.010,0.010,0.001,0.001,0.001,0.00
8,1,10,0.000,0.010,0.000,0.000,0.00000,0.000000,0.000000,0.050000,...,0.000,0.010,0.010,0.005,0.010,0.010,0.001,0.001,0.001,0.00
9,1,20,0.014,0.015,0.612,0.094,0.02430,0.302932,0.000000,0.001242,...,0.000,0.025,0.030,0.004,0.012,0.111,0.001,0.001,0.001,0.05
10,1,30,0.059,0.048,0.532,0.097,0.02910,0.353886,0.000000,0.001380,...,0.005,0.027,0.033,0.010,0.012,0.095,0.001,0.001,0.001,0.05
11,1,40,0.004,0.026,0.521,0.067,0.03075,0.332946,0.077154,0.001127,...,0.011,0.038,0.016,0.014,0.044,0.067,0.006,0.001,0.001,0.05
12,1,50,0.000,0.031,0.407,0.063,0.02985,0.261052,0.164328,0.001265,...,0.031,0.073,0.027,0.025,0.044,0.083,0.006,0.001,0.001,0.05
13,1,60,0.000,0.073,0.283,0.036,0.02895,0.159842,0.326652,0.001058,...,0.050,0.029,0.037,0.037,0.076,0.078,0.011,0.001,0.001,0.05

## 2. 성별 및 연령대 별 더미 데이터 데이터프레임 생성
- `dummy_rating_df`의 비율을 활용

In [6]:
# 이진 값으로 더미 데이터를 생성하는 함수 정의
# 1: 값이 있음, 0 : 값이 없음
def ratelist(total, rate):
    li = []

    o = 1
    x = 0

    _rate = rate
    _count = total

    for i in range(1,_count):
        if i <= _rate * _count:
            li.append(o)
        else:
            li.append(x)
    
    random.shuffle(li)
    return li

In [7]:
dummy_cols = ['survey_sex', 'survey_age_group', 'survey_pregnancy_code', 'survey_operation_code', 'survey_alcohol_code', 'survey_smoking_code']
dummy_cols += survey_function_com_codes + survey_disease_com_codes + survey_allergy_com_codes

check_dummy_cols = ['survey_pregnancy_code', 'survey_operation_code', 'survey_alcohol_code', 'survey_smoking_code',
                     'HF01', 'HF02', 'HF03', 'HF04', 'HF05', 'HF06', 'HF07', 'HF08', 'HF09', 'HF10', 'HF11', 'HF12', 
                     'HF13', 'HF14', 'HF15', 'HF16', 'HF17', 'HF18', 'HF19', 'HF20', 'HF21', 'HF22', 'HF23', 'HF24', 
                     'AL01', 'AL02', 'AL03', 'AL04', 'AL05', 'AL06', 'AL07', 'AL08', 'AL09', 'AL10', 
                     'AL11', 'AL12', 'AL13', 'AL14', 'AL15', 'AL16', 'AL17', 'AL18', 'AL19', 'AL20',
                     'DI01', 'DI02', 'DI03', 'DI04', 'DI05', 'DI06', 'DI07', 'DI08', 'DI09', 'DI10',
                     'DI11', 'DI12', 'DI13', 'DI14', 'DI15', 'DI16', 'DI17']

In [8]:
# 성별 및 연령대 별로 코드 비율에 따라 random 값을 생성하여 사용자 설문 데이터 프레임 생성하는 함수 정의
def create_survey_df(dummy_rating_df, dummy_cols, check_dummy_cols, sample_num):
    global pregnancy_ratings, survey_function_com_codes, survey_disease_com_codes, survey_allergy_com_codes
    
    # 1. 성별 및 연령대 별로 코드별 비율에 맞춰 랜덤으로 더미 데이터 생성 => dummy_survey_df 데이터프레임 생성 
    dummy_survey_df = pd.DataFrame(columns=dummy_cols)

    for idx, row in dummy_rating_df.iterrows():
        dummy_df = pd.DataFrame(columns=dummy_cols)
        
        # 성별, 연령대별 비율만큼 건강기능 및 주의사항 코드 값을 0 또는 1로 생성
        for col in check_dummy_cols:
            dummy_df[col] = ratelist(sample_num + 1, row[col]) 
        
        # 비율에 해당하는 성별, 연령대 값 넣기    
        dummy_df.loc[dummy_df['survey_sex'].isnull(), 'survey_sex'] = row['survey_sex'] 
        dummy_df.loc[dummy_df['survey_age_group'].isnull(), 'survey_age_group'] = row['survey_age_group'] 
        
        # 각 성별 및 연령대별 sample_num개의 샘플 데이터프레임을 하나로 합치기
        dummy_survey_df = pd.concat([dummy_survey_df, dummy_df], ignore_index=True)

        # 'HF25' (임신/태아) 컬럼값 설정 - 'survey_pregnancy_code' 값이 0인 rows는 'HF25' 값은 0
        dummy_survey_df.loc[dummy_survey_df['survey_pregnancy_code'] == 0, 'HF25'] = 0
    
    # 2. 'survey_pregnancy_code' 값이 1인 row만 'HF25', 알콜 여부, 흡연 여부 데이터를 비율에 맞게 다시 생성
    pregnancy_mask = dummy_survey_df['survey_pregnancy_code'] == 1  
    for col, rating in pregnancy_ratings.items():
        dummy_survey_df.loc[pregnancy_mask, col] = ratelist(len(dummy_survey_df[pregnancy_mask]) + 1, rating)

    return dummy_survey_df

In [9]:
# 함수 적용
dummy_survey_df = create_survey_df(dummy_rating_df, dummy_cols, check_dummy_cols, 1000)
dummy_survey_df

,survey_sex,survey_age_group,survey_pregnancy_code,survey_operation_code,survey_alcohol_code,survey_smoking_code,HF00,HF01,HF02,HF03,...,AL11,AL12,AL13,AL14,AL15,AL16,AL17,AL18,AL19,AL20
0,0.0,0.0,0,0,0,0,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,0.0,0,0,0,0,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.0,0.0,0,0,0,0,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.0,0.0,0,0,0,0,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.0,0.0,0,0,0,0,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13995,1.0,60.0,0,0,0,0,NaN,0,0,1,...,0,0,0,0,0,0,0,0,0,0
13996,1.0,60.0,0,1,1,0,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13997,1.0,60.0,0,0,1,0,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13998,1.0,60.0,0,0,0,1,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13999,1.0,60.0,0,0,1,0,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## 3. 코드성 컬럼 값 수정
- 코드 컬럼 중 사용자 설문에서 선택한 값이 모두 0일 경우 해당사항없음을 의미하는 zero 코드 컬럼값을 1로 지정, 아닐 경우 0으로 지정
- 건강기능 코드가 5개 초과 값을 가지는 경우, 해당 컬럼에 대해 랜덤하게 초과된 컬럼값을 0으로 변경하여 값이 1인 경우가 5개로 수정

In [10]:
# 코드 컬럼 중 선택한 값이 없거나(모두 0), 건강기능 코드가 5개 초과 값을 가지는 경우 값을 변경하는 함수 정의
def update_code_col(df, update_col, check_cols, zero_code, count_check_cols=None):
    for idx, row in df.iterrows():
        cols_to_check = [code for code in check_cols if code != zero_code]
        # 1. 건강기능으로 값이 1인 경우가 5개 초과인 컬럼 찾기 -> 해당 컬럼에 대해 랜덤하게 0으로 변경하여 값이 1인 경우가 5개로 수정
        if count_check_cols:
            exceed_columns = []
            if row[cols_to_check].sum() > 5:
                for col in survey_function_com_codes:
                    if row[col] == 1:
                        exceed_columns.append(col)
                        
                indices_to_change = row[cols_to_check][row[cols_to_check] == 1].sample(frac=1).index[:row[cols_to_check].sum() - 5]
                df.loc[idx, indices_to_change] = 0
        
        # 2. 코드값이 모두 0일 경우 zero 코드(해당사항 없음)에 값을 1로 설정            
        all_zero = all(row[col] == 0 for col in cols_to_check)
        df.loc[idx, update_col] = 1 if all_zero else 0
    return df

In [11]:
# 건강기능, 기저질환, 알레르기 관련 코드 컬럼에 대해 함수 적용
dummy_survey_df = update_code_col(dummy_survey_df, 'HF00', survey_function_com_codes, 'HF00', count_check_cols=True)
dummy_survey_df = update_code_col(dummy_survey_df, 'AL00', survey_allergy_com_codes, 'AL00')
dummy_survey_df = update_code_col(dummy_survey_df, 'DI00', survey_disease_com_codes, 'DI00')

In [12]:
# 확인
dummy_survey_df.loc[dummy_survey_df['HF00'] == 1, survey_function_com_codes] # 1947 행
dummy_survey_df.loc[dummy_survey_df['AL00'] == 1, survey_allergy_com_codes] # 13645 행
dummy_survey_df.loc[dummy_survey_df['DI00'] == 1, survey_disease_com_codes] # 5682 행

,DI00,DI01,DI02,DI03,DI04,DI05,DI06,DI07,DI08,DI09,DI10,DI11,DI12,DI13,DI14,DI15,DI16,DI17
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13870,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13874,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13918,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13926,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13955,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [13]:
# 건강기능으로 값이 1인 경우가 5개 초과인 컬럼이 없는지 확인
check_idxs = []
for idx, row in dummy_survey_df.iterrows():
    if row[survey_function_com_codes].sum() > 5:
        print('5개 초과인 경우가 존재 O')
        check_idxs.append(idx)

if not check_idxs:
    print('5개 초과인 경우가 존재 X')

5개 초과인 경우가 존재 X

### 코드값 업데이트
- DB에 넣을 용으로 코드 값 업데이트

In [14]:
def update_row(row):  
    # 임신 상태 업데이트
    if row['survey_pregnancy_code'] == 0:
        row['survey_pregnancy_code'] = 'P0'
    else:
        row['survey_pregnancy_code'] = f'P{random.choices([1, 2, 3], [0.05, 0.05, 0.9])[0]}'
    
    # 수술 상태 업데이트
    if row['survey_operation_code'] == 0:
        row['survey_operation_code'] = 'O0'
    else:
        row['survey_operation_code'] = f'O{random.choices([1, 2, 3, 9], [0.04, 0.45, 0.45, 0.01])[0]}' # 'O9' 추가 - 비율 수정
    
    # 음주 상태 업데이트
    if row['survey_alcohol_code'] == 0:
        row['survey_alcohol_code'] = 'A0'
    else:
        row['survey_alcohol_code'] = f'A{random.choices([1, 2, 3, 9], [0.5, 0.3, 0.15, 0.05])[0]}' # 'O9' 추가 - 비율 수정
    
    # 흡연 상태 업데이트
    if row['survey_smoking_code'] == 0:
        row['survey_smoking_code'] = 'S0'
    else:
        row['survey_smoking_code'] = f'S{random.choices([1, 9], [0.95, 0.05])[0]}' # 코드 컬럼으로 수정, 'S9' 추가 - 비율 생성
    
    return row

In [15]:
# 함수 적용
dummy_survey_df = dummy_survey_df.apply(update_row, axis=1)

## 4. 다중 값을 가지는 코드성 컬럼에 대해 JSON 컬럼 생성
- 건강기능, 기저질환, 알레르기 코드 관련
- 건강기능 코드의 경우 선택한 건강기능(고민)의 순위에 대한 내용으로 넣는다.
  - 순위는 random 하게 생성

In [16]:
def create_json_survey_code_col(df, code_list, code_json_col, com_code_grp, function_rankings=None):
    # 코드 JSON 컬럼 데이터 생성
    # key : 순위, value : 코드(코드컬럼명)
    code_json = []
    for idx, row in df.iterrows():
        code_dict_data = {}
        if (com_code_grp == 'FUNCTION') and (function_rankings):
            check_code_list = row[code_list][row[code_list] == 1].sample(frac=1).index.tolist() # 순위 무작위 index
            for i, code in enumerate(check_code_list):
                code_dict_data[function_rankings[i]] = code
        else:
            check_code_list = row[code_list][row[code_list] == 1].index.tolist()
            code_dict_data[com_code_grp] = check_code_list
            
        code_json.append(code_dict_data)
    
    # 코드 JSON 컬럼 생성
    df[code_json_col] = code_json
    
    return df

In [17]:
# 함수 적용
dummy_survey_df = create_json_survey_code_col(dummy_survey_df, survey_function_com_codes, 'survey_function_code', com_code_grp='FUNCTION', function_rankings=function_rankings)
dummy_survey_df = create_json_survey_code_col(dummy_survey_df, survey_allergy_com_codes, 'survey_allergy_code', com_code_grp='ALLERGY')
dummy_survey_df = create_json_survey_code_col(dummy_survey_df, survey_disease_com_codes, 'survey_disease_code', com_code_grp='DISEASE')

In [18]:
# 확인
dummy_survey_df[survey_function_com_codes +  ['survey_function_code']][4000:4010]

,HF00,HF01,HF02,HF03,HF04,HF05,HF06,HF07,HF08,HF09,...,HF17,HF18,HF19,HF20,HF21,HF22,HF23,HF24,HF25,survey_function_code
4000,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,{'1st': 'HF00'}
4001,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,{'1st': 'HF00'}
4002,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,"{'1st': 'HF17', '2nd': 'HF02'}"
4003,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"{'1st': 'HF02', '2nd': 'HF05'}"
4004,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,{'1st': 'HF00'}
4005,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,{'1st': 'HF00'}
4006,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,{'1st': 'HF00'}
4007,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,{'1st': 'HF00'}
4008,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,{'1st': 'HF00'}
4009,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,{'1st': 'HF00'}

In [19]:
# 확인
dummy_survey_df[survey_allergy_com_codes +  ['survey_allergy_code']][4000:4010]
dummy_survey_df.loc[dummy_survey_df['AL15'] == 1, survey_allergy_com_codes +  ['survey_allergy_code']]

,AL00,AL01,AL02,AL03,AL04,AL05,AL06,AL07,AL08,AL09,...,AL12,AL13,AL14,AL15,AL16,AL17,AL18,AL19,AL20,survey_allergy_code
300,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,{'ALLERGY': ['AL15']}
1613,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,{'ALLERGY': ['AL15']}
2389,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,{'ALLERGY': ['AL15']}
3066,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,{'ALLERGY': ['AL15']}
4607,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,{'ALLERGY': ['AL15']}
5272,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,{'ALLERGY': ['AL15']}
6904,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,{'ALLERGY': ['AL15']}
7539,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,{'ALLERGY': ['AL15']}
8514,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,{'ALLERGY': ['AL15']}
9362,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,{'ALLERGY': ['AL15']}
10781,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,{'ALLERGY': ['AL15']}
11423,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,{'ALLERGY': ['AL15']}
12045,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,{'ALLERGY': ['AL15']}
13292,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,{'ALLERGY': ['AL15']}

In [20]:
# 확인
dummy_survey_df.loc[dummy_survey_df['DI01'] == 1, survey_disease_com_codes +  ['survey_disease_code']]

,DI00,DI01,DI02,DI03,DI04,DI05,DI06,DI07,DI08,DI09,DI10,DI11,DI12,DI13,DI14,DI15,DI16,DI17,survey_disease_code
61,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,{'DISEASE': ['DI01']}
74,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,{'DISEASE': ['DI01']}
378,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,{'DISEASE': ['DI01']}
445,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,{'DISEASE': ['DI01']}
465,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,{'DISEASE': ['DI01']}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13994,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,{'DISEASE': ['DI01']}
13995,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,"{'DISEASE': ['DI01', 'DI04', 'DI07']}"
13997,0,1,1,1,1,0,1,1,0,0,0,0,0,0,0,0,0,0,"{'DISEASE': ['DI01', 'DI02', 'DI03', 'DI04', '..."
13998,0,1,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,"{'DISEASE': ['DI01', 'DI03', 'DI06', 'DI10']}"
13999,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,"{'DISEASE': ['DI01', 'DI04', 'DI12']}"

## 5. `survey_id` 컬럼 생성
- PK로 사용될 `survey_id` 컬럼 생성

In [21]:
dummy_survey_df['survey_id'] = range(1, len(dummy_survey_df) + 1)

## 6. 그 외 컬럼 생성
- 질병관리청 국민건강영양조사 2022 자료를 바탕으로 'user_id', 'profile_id', 'survey_height', 'survey_weight' 값 생성
- 성별 및 연령대 별 데이터와 위 데이터셋 매칭
- 'survey_created_at' 임의로 생성

### 6-1. 국민건강영양조사 데이터셋 가져오기

In [22]:
# csv 파일 데이터 로드
data_path = 'C:\\Users\\user\\working\\Our-family-pharmacist\\data\\질병관리청_국민건강영양조사_2022.csv'
raw_fam_df = pd.read_csv(data_path)
raw_fam_df

,ID,ID_fam,sex,age,age_month,fam_rela,ID_F,ID_M,HE_ht,HE_wt
0,A901215301,A9012153,1,61,,1,,,179.9,86.7
1,A901215302,A9012153,1,57,,9,,,179.3,82
2,A901225501,A9012255,2,39,,1,,,159.9,59
3,A901225502,A9012255,2,19,,3,,A901225501,169.7,63.1
4,A901227201,A9012272,1,70,,1,,,171.4,55.8
...,...,...,...,...,...,...,...,...,...,...
7085,R904351302,R9043513,1,25,,3,,,177.7,86.9
7086,R904353001,R9043530,1,45,,1,,,175.3,105.2
7087,R904353002,R9043530,2,43,,2,,,167,54.8
7088,R904353003,R9043530,1,8,,3,R904353001,R904353002,131.6,27.5
7089,R904353004,R9043530,1,8,,3,R904353001,R904353002,137.1,31.2

In [23]:
raw_fam_df.shape

(7090, 10)

### 6-2. 더미 데이터와 매칭할 수 있도록 전처리

In [24]:
# dummy_survey_df 에 매칭할 수 있도록 컬럼을 생성하는 함수 정의
def create_user_profile_data(df, id_fam_col, sex_col, age_col):
    # ID_fam이 같은 경우 같은 user_id 값을 생성
    # ID_fam 컬럼의 값에 대한 unique한 정수 매핑 딕셔너리 생성
    id_fam_mapping = {}
    count = 1 # user_id는 1 이상의 정수 값을 가진다.

    for id_fam in df[id_fam_col].unique():
        if id_fam not in id_fam_mapping:
            id_fam_mapping[id_fam] = count
            count += 1
    
    # ID_fam 컬럼의 값을 정수로 변환하여 user_id에 해당하는 새로운 컬럼에 할당
    df['user_id'] = df[id_fam_col].map(id_fam_mapping)
    
    # # profile_id 값을 1부터 정수 값을 차례대로 부여
    # df['profile_id'] = range(1, len(df) + 1)
    
    # 성별 컬럼 생성
    df['survey_sex'] = df[sex_col].apply(lambda x: 0 if x == 1 else 1) # 1 : 남성을 의미하는 0, 2: 여성을 의미하는 1
 
    # 연령대 컬럼 생성
    # 6세 미만 영유아에 해당하는 행 제거
    df.drop(df[df[age_col]<=8].index, axis=0, inplace=True)

    age_group_mask = [
        (df['age'] >= 5) & (df['age'] <= 11),
        (df['age'] >= 12) & (df['age'] <= 18),
        (df['age'] >= 19) & (df['age'] <= 29),
        (df['age'] >= 30) & (df['age'] <= 39),
        (df['age'] >= 40) & (df['age'] <= 49),
        (df['age'] >= 50) & (df['age'] <= 59),
        (df['age'] >= 60)
    ]

    age_group_labels = [0, 10, 20, 30, 40, 50, 60]
    df['survey_age_group'] = np.select(age_group_mask, age_group_labels, default=np.nan)
    df['survey_age_group'] = df['survey_age_group'].astype(int)
    
    # 컬럼명 변경
    df.rename(columns={'HE_ht' : 'survey_height', 'HE_wt' : 'survey_weight'}, inplace=True)
    
    # ' ' 공백 문자열로 들어가있는 결측치를 nan 값으로 대체
    df.loc[df['survey_height'] == ' ', 'survey_height'] = np.nan
    df.loc[df['survey_weight'] == ' ', 'survey_weight'] = np.nan        
    
    return df

In [25]:
fam_df = create_user_profile_data(raw_fam_df, 'ID_fam', 'sex', 'age')[['user_id', 'survey_sex', 'survey_age_group', 'survey_height', 'survey_weight']]
fam_df

      user_id  survey_sex  survey_age_group survey_height survey_weight
0           1           0                60         179.9          86.7
1           1           0                50         179.3            82
2           2           1                30         159.9            59
3           2           1                20         169.7          63.1
4           3           0                60         171.4          55.8
...       ...         ...               ...           ...           ...
7083     3422           1                10           NaN           NaN
7084     3423           1                50         152.7          54.6
7085     3424           0                20         177.7          86.9
7086     3425           0                40         175.3         105.2
7087     3425           1                40           167          54.8

[6610 rows x 5 columns]

In [26]:
dummy_survey_df.groupby(['survey_sex', 'survey_age_group']).size().reset_index(name='count')

    survey_sex  survey_age_group  count
0          0.0               0.0   1000
1          0.0              10.0   1000
2          0.0              20.0   1000
3          0.0              30.0   1000
4          0.0              40.0   1000
5          0.0              50.0   1000
6          0.0              60.0   1000
7          1.0               0.0   1000
8          1.0              10.0   1000
9          1.0              20.0   1000
10         1.0              30.0   1000
11         1.0              40.0   1000
12         1.0              50.0   1000
13         1.0              60.0   1000

In [27]:
fam_df.groupby(['survey_sex', 'survey_age_group']).size().reset_index(name='count')

    survey_sex  survey_age_group  count
0            0                 0    116
1            0                10    233
2            0                20    350
3            0                30    301
4            0                40    462
5            0                50    463
6            0                60   1049
7            1                 0    100
8            1                10    209
9            1                20    380
10           1                30    383
11           1                40    546
12           1                50    631
13           1                60   1387

In [28]:
# 기존 데이터프레임을 n회 반복 복사해 user_id 값만 unique 값으로 바꾼 행을 추가하여 행의 개수가 n배 되는 데이터프레임 생성
def concat_copy_df(df, repetition):
    count = 1
    while count < repetition:
        df2 = df.copy()
        
        df2['user_id'] += df['user_id'].max()
        
        df = pd.concat([df, df2], axis = 0, ignore_index=True)
        count += 1
    return df

In [29]:
fam_df = concat_copy_df(fam_df, 5)
fam_df.groupby(['survey_sex', 'survey_age_group']).size().reset_index(name='count')

    survey_sex  survey_age_group  count
0            0                 0   1856
1            0                10   3728
2            0                20   5600
3            0                30   4816
4            0                40   7392
5            0                50   7408
6            0                60  16784
7            1                 0   1600
8            1                10   3344
9            1                20   6080
10           1                30   6128
11           1                40   8736
12           1                50  10096
13           1                60  22192

In [30]:
# dummy_survey_df와 매칭할 수 있게 성별 및 연령대 별 1000개씩의 샘플만 갖도록 인덱싱
sex_labels = [0, 1]
age_group_labels = [0, 10, 20, 30, 40, 50, 60]

new_fam_df = pd.DataFrame(columns=fam_df.columns.tolist())

for sex_label in sex_labels:
    for age_group_label in age_group_labels:
        label = fam_df.loc[(fam_df['survey_sex'] == sex_label) & (fam_df['survey_age_group'] == age_group_label)]
        new_fam_df = pd.concat([new_fam_df, label[:1000]], axis=0, ignore_index=True)

new_fam_df.groupby(['survey_sex', 'survey_age_group']).size().reset_index(name='count')

    survey_sex  survey_age_group  count
0            0                 0   1000
1            0                10   1000
2            0                20   1000
3            0                30   1000
4            0                40   1000
5            0                50   1000
6            0                60   1000
7            1                 0   1000
8            1                10   1000
9            1                20   1000
10           1                30   1000
11           1                40   1000
12           1                50   1000
13           1                60   1000

In [31]:
# profile_id 추가
new_fam_df.sort_values(by=['user_id'], ignore_index=True, inplace=True)
new_fam_df['profile_id'] = range(1, len(new_fam_df) + 1)

In [32]:
# survey_created_at 추가 - 기존 데이터셋 값으로 넣어준다.
new_fam_df['survey_created_at'] = '2023-05-11 17:40:25'
new_fam_df['survey_created_at'] = pd.to_datetime(new_fam_df['survey_created_at'])
new_fam_df[['survey_created_at']]

        survey_created_at
0     2023-05-11 17:40:25
1     2023-05-11 17:40:25
2     2023-05-11 17:40:25
3     2023-05-11 17:40:25
4     2023-05-11 17:40:25
...                   ...
13995 2023-05-11 17:40:25
13996 2023-05-11 17:40:25
13997 2023-05-11 17:40:25
13998 2023-05-11 17:40:25
13999 2023-05-11 17:40:25

[14000 rows x 1 columns]

### 6-3. 전처리한 데이터셋과 concat으로 데이터프레임 합치기

In [33]:
# 매칭시킬 수 있게 성별 및 연령대 기준으로 정렬
new_fam_df.sort_values(by=['survey_sex', 'survey_age_group'], ascending=[False, True], ignore_index=True, inplace=True)
dummy_survey_df.sort_values(by=['survey_sex', 'survey_age_group'], ascending=[False, True], ignore_index=True, inplace=True)

# 필요한 추가 컬럼 추가
dummy_survey_df = pd.concat([dummy_survey_df, new_fam_df[['user_id', 'profile_id', 'survey_height', 'survey_weight', 'survey_created_at']]], axis=1)

In [34]:
dummy_survey_df

,survey_sex,survey_age_group,survey_pregnancy_code,survey_operation_code,survey_alcohol_code,survey_smoking_code,HF00,HF01,HF02,HF03,...,AL20,survey_function_code,survey_allergy_code,survey_disease_code,survey_id,user_id,profile_id,survey_height,survey_weight,survey_created_at
0,1.0,0.0,P0,O0,A0,S0,0,0,0,0,...,0,"{'1st': 'HF21', '2nd': 'HF07', '3rd': 'HF10'}",{'ALLERGY': ['AL00']},{'DISEASE': ['DI00']},7001,51,93,153.4,52.9,2023-05-11 17:40:25
1,1.0,0.0,P0,O0,A0,S0,0,0,0,0,...,0,"{'1st': 'HF20', '2nd': 'HF21'}",{'ALLERGY': ['AL00']},{'DISEASE': ['DI00']},7002,92,185,145.5,33.4,2023-05-11 17:40:25
2,1.0,0.0,P0,O0,A0,S0,0,0,0,0,...,0,"{'1st': 'HF10', '2nd': 'HF07', '3rd': 'HF21'}",{'ALLERGY': ['AL00']},{'DISEASE': ['DI00']},7003,221,409,156.4,50.3,2023-05-11 17:40:25
3,1.0,0.0,P0,O0,A0,S0,0,0,0,0,...,0,"{'1st': 'HF10', '2nd': 'HF21', '3rd': 'HF20'}",{'ALLERGY': ['AL00']},{'DISEASE': ['DI00']},7004,221,412,139.2,29.1,2023-05-11 17:40:25
4,1.0,0.0,P0,O0,A0,S0,0,0,0,0,...,0,"{'1st': 'HF10', '2nd': 'HF07', '3rd': 'HF04'}",{'ALLERGY': ['AL00']},{'DISEASE': ['DI00']},7005,232,432,145,33.4,2023-05-11 17:40:25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13995,0.0,60.0,P0,O0,A1,S0,0,0,0,1,...,0,"{'1st': 'HF05', '2nd': 'HF03'}",{'ALLERGY': ['AL00']},"{'DISEASE': ['DI03', 'DI04', 'DI06']}",6996,3218,5889,175,73.2,2023-05-11 17:40:25
13996,0.0,60.0,P0,O0,A2,S1,0,0,0,0,...,0,"{'1st': 'HF20', '2nd': 'HF24'}",{'ALLERGY': ['AL00']},"{'DISEASE': ['DI03', 'DI04', 'DI06']}",6997,3224,5898,167.6,80.1,2023-05-11 17:40:25
13997,0.0,60.0,P0,O0,A9,S1,0,0,1,0,...,0,"{'1st': 'HF24', '2nd': 'HF05', '3rd': 'HF02'}",{'ALLERGY': ['AL00']},"{'DISEASE': ['DI02', 'DI03', 'DI11']}",6998,3225,5899,170.1,52.7,2023-05-11 17:40:25
13998,0.0,60.0,P0,O0,A1,S1,0,0,0,0,...,0,{'1st': 'HF05'},{'ALLERGY': ['AL00']},"{'DISEASE': ['DI03', 'DI06', 'DI07']}",6999,3226,5900,162.4,59.2,2023-05-11 17:40:25
13999,0.0,60.0,P0,O0,A1,S0,1,0,0,0,...,0,{'1st': 'HF00'},{'ALLERGY': ['AL00']},{'DISEASE': ['DI01']},7000,3232,5905,171.5,52.6,2023-05-11 17:40:25

## 7. DB insert 용으로 데이터프레임을 파일로 저장
- pickle, csv 파일 형태

In [35]:
survey_table = dummy_survey_df[['survey_id', 'user_id', 'profile_id', 
                                'survey_sex', 'survey_age_group', 'survey_pregnancy_code',
                                'survey_operation_code', 'survey_alcohol_code', 'survey_smoking_code',
                                'survey_allergy_code', 'survey_disease_code', 'survey_function_code', 
                                'survey_height', 'survey_weight', 'survey_created_at']]

survey_table

,survey_id,user_id,profile_id,survey_sex,survey_age_group,survey_pregnancy_code,survey_operation_code,survey_alcohol_code,survey_smoking_code,survey_allergy_code,survey_disease_code,survey_function_code,survey_height,survey_weight,survey_created_at
0,7001,51,93,1.0,0.0,P0,O0,A0,S0,{'ALLERGY': ['AL00']},{'DISEASE': ['DI00']},"{'1st': 'HF21', '2nd': 'HF07', '3rd': 'HF10'}",153.4,52.9,2023-05-11 17:40:25
1,7002,92,185,1.0,0.0,P0,O0,A0,S0,{'ALLERGY': ['AL00']},{'DISEASE': ['DI00']},"{'1st': 'HF20', '2nd': 'HF21'}",145.5,33.4,2023-05-11 17:40:25
2,7003,221,409,1.0,0.0,P0,O0,A0,S0,{'ALLERGY': ['AL00']},{'DISEASE': ['DI00']},"{'1st': 'HF10', '2nd': 'HF07', '3rd': 'HF21'}",156.4,50.3,2023-05-11 17:40:25
3,7004,221,412,1.0,0.0,P0,O0,A0,S0,{'ALLERGY': ['AL00']},{'DISEASE': ['DI00']},"{'1st': 'HF10', '2nd': 'HF21', '3rd': 'HF20'}",139.2,29.1,2023-05-11 17:40:25
4,7005,232,432,1.0,0.0,P0,O0,A0,S0,{'ALLERGY': ['AL00']},{'DISEASE': ['DI00']},"{'1st': 'HF10', '2nd': 'HF07', '3rd': 'HF04'}",145,33.4,2023-05-11 17:40:25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13995,6996,3218,5889,0.0,60.0,P0,O0,A1,S0,{'ALLERGY': ['AL00']},"{'DISEASE': ['DI03', 'DI04', 'DI06']}","{'1st': 'HF05', '2nd': 'HF03'}",175,73.2,2023-05-11 17:40:25
13996,6997,3224,5898,0.0,60.0,P0,O0,A2,S1,{'ALLERGY': ['AL00']},"{'DISEASE': ['DI03', 'DI04', 'DI06']}","{'1st': 'HF20', '2nd': 'HF24'}",167.6,80.1,2023-05-11 17:40:25
13997,6998,3225,5899,0.0,60.0,P0,O0,A9,S1,{'ALLERGY': ['AL00']},"{'DISEASE': ['DI02', 'DI03', 'DI11']}","{'1st': 'HF24', '2nd': 'HF05', '3rd': 'HF02'}",170.1,52.7,2023-05-11 17:40:25
13998,6999,3226,5900,0.0,60.0,P0,O0,A1,S1,{'ALLERGY': ['AL00']},"{'DISEASE': ['DI03', 'DI06', 'DI07']}",{'1st': 'HF05'},162.4,59.2,2023-05-11 17:40:25
13999,7000,3232,5905,0.0,60.0,P0,O0,A1,S0,{'ALLERGY': ['AL00']},{'DISEASE': ['DI01']},{'1st': 'HF00'},171.5,52.6,2023-05-11 17:40:25

In [36]:
# DB에 맞는 데이터 타입으로 수정

# 성별 컬럼
survey_table['survey_sex'] = survey_table['survey_sex'].apply(lambda x: 'm' if x == 0 else 'f')

# 연령대 컬럼
age_group_mask = [
    (survey_table['survey_age_group'] == 0),
    (survey_table['survey_age_group'] == 10),
    (survey_table['survey_age_group'] == 20),
    (survey_table['survey_age_group'] == 30),
    (survey_table['survey_age_group'] == 40),
    (survey_table['survey_age_group'] == 50),
    (survey_table['survey_age_group'] == 60)
]
age_group_labels = ['어린이', '청소년', '20대', '30대', '40대', '50대', '60세 이상']

survey_table['survey_age_group'] = np.select(age_group_mask, age_group_labels, default=np.nan)
survey_table

,survey_id,user_id,profile_id,survey_sex,survey_age_group,survey_pregnancy_code,survey_operation_code,survey_alcohol_code,survey_smoking_code,survey_allergy_code,survey_disease_code,survey_function_code,survey_height,survey_weight,survey_created_at
0,7001,51,93,f,어린이,P0,O0,A0,S0,{'ALLERGY': ['AL00']},{'DISEASE': ['DI00']},"{'1st': 'HF21', '2nd': 'HF07', '3rd': 'HF10'}",153.4,52.9,2023-05-11 17:40:25
1,7002,92,185,f,어린이,P0,O0,A0,S0,{'ALLERGY': ['AL00']},{'DISEASE': ['DI00']},"{'1st': 'HF20', '2nd': 'HF21'}",145.5,33.4,2023-05-11 17:40:25
2,7003,221,409,f,어린이,P0,O0,A0,S0,{'ALLERGY': ['AL00']},{'DISEASE': ['DI00']},"{'1st': 'HF10', '2nd': 'HF07', '3rd': 'HF21'}",156.4,50.3,2023-05-11 17:40:25
3,7004,221,412,f,어린이,P0,O0,A0,S0,{'ALLERGY': ['AL00']},{'DISEASE': ['DI00']},"{'1st': 'HF10', '2nd': 'HF21', '3rd': 'HF20'}",139.2,29.1,2023-05-11 17:40:25
4,7005,232,432,f,어린이,P0,O0,A0,S0,{'ALLERGY': ['AL00']},{'DISEASE': ['DI00']},"{'1st': 'HF10', '2nd': 'HF07', '3rd': 'HF04'}",145,33.4,2023-05-11 17:40:25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13995,6996,3218,5889,m,60세 이상,P0,O0,A1,S0,{'ALLERGY': ['AL00']},"{'DISEASE': ['DI03', 'DI04', 'DI06']}","{'1st': 'HF05', '2nd': 'HF03'}",175,73.2,2023-05-11 17:40:25
13996,6997,3224,5898,m,60세 이상,P0,O0,A2,S1,{'ALLERGY': ['AL00']},"{'DISEASE': ['DI03', 'DI04', 'DI06']}","{'1st': 'HF20', '2nd': 'HF24'}",167.6,80.1,2023-05-11 17:40:25
13997,6998,3225,5899,m,60세 이상,P0,O0,A9,S1,{'ALLERGY': ['AL00']},"{'DISEASE': ['DI02', 'DI03', 'DI11']}","{'1st': 'HF24', '2nd': 'HF05', '3rd': 'HF02'}",170.1,52.7,2023-05-11 17:40:25
13998,6999,3226,5900,m,60세 이상,P0,O0,A1,S1,{'ALLERGY': ['AL00']},"{'DISEASE': ['DI03', 'DI06', 'DI07']}",{'1st': 'HF05'},162.4,59.2,2023-05-11 17:40:25
13999,7000,3232,5905,m,60세 이상,P0,O0,A1,S0,{'ALLERGY': ['AL00']},{'DISEASE': ['DI01']},{'1st': 'HF00'},171.5,52.6,2023-05-11 17:40:25

In [37]:
# 피클 파일 및 csv 파일로 저장
import pickle

# 피클 파일 저장
with open('C:\\Users\\user\\working\\Our-family-pharmacist\\data\\survey_table.pkl', 'wb') as f:
    pickle.dump(survey_table, f)    
    
with open('C:\\Users\\user\\working\\Our-family-pharmacist\\data\\dummy_survey_df.pkl', 'wb') as f:
    pickle.dump(dummy_survey_df, f)
    
# csv 파일 저장
survey_table.to_csv('C:\\Users\\user\\working\\Our-family-pharmacist\\data\\survey_table.csv', index=False, encoding='utf-8-sig')